
body {  
    background-position:center ;
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    background-size:cover ;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


img{

    display:block;

    margin:auto;
    }
#backgroundhead{
    background-color: goldenrod;
    padding: 0.5px;
}

.color{
        color:white;
}
h1{
    color:white;
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
  }
  /* diseño de los botones*/
.button{
    background:#000000;
    color: #ffffff ;
    display: inline-block;
    font-size: 130%;
    margin: 20px;
    padding: 15px 15px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #696969;

}
.button span{
margin-right: 8px;
}
/*Colores*/
.button.black{
background: #212121;
box-shadow: 0px 3px 0px #696969  ;
}
/*tamaños*/
.button.medium {
width: 350px;
}
.button.large {
width: 400px;
}
/*Efecto*/
.button.radius {    
border-radius: 50px;
}
/*Efecto de oscuridad*/
.button:hover {
box-shadow: 0px 0px 0px;
padding-top: 7px;
}

.login{
    /*line-height: 10px;
    width: 14px;
    font-size: 20px;
    position: absolute;
    font-family: tahoma;
    top: 99px;
    right: 100px;
    text-align: center;*/
    margin-left: 1385px;
    position: absolute;
    display: inline; 
    width: 130px;
    padding: 10px 10px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 14px ;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 400ms;
}

.login:hover{
    background: #fff;
    color: #000;
}


h2{
    color:black;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    text-decoration: underline goldenrod;
}



h3{
    color:black;
     text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    text-decoration: underline goldenrod;

}
p{
    
    text-align: justify;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.tamaño{
    font-family: 'Times New Roman', Times, serif;
    font-size: 350%;
    color:whitesmoke;
    text-decoration: none;
    text-shadow:  0.1em 0.0em #333;
}

.fondo{
    background: #daa520;
    color: #ffffff;
    text-align: justify;
}

.fondoo{    
    background: #B88E23;
}

.tamaño2{
    font-size: 50%;
}
.copy{
    font-size: medium;
    text-align: center;
    color: black;
    display: inline-block;
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}




.navbar {
    overflow: hidden;
    background-color: goldenrod;
    position: sticky;
    top: 0;
    width: auto; 
  }
  
 
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background:black;
    color:blue;
  }
  
  /* Main content */
.main {
    margin-top: 100px; 
    width: 100%;
    padding: 20px;
    margin: auto;
  }

  /*Imagenes juntas*/
 figure{    
     margin: 0;
     display: inline-block;
     border: 1px;
     position: relative;
 }

.der img{
    border-radius: 20px;
    float: right;
    margin-left: 30px;
}

.izq img{
    border-radius: 20px;
    float: left;
    margin-right: 30px;
}

.justifi {
    text-align: justify;
}
/*

.hamburguesa{
    top: 20px;;
        width: 100px;
        height: 10px;
        background-color: #222;
        position: relative;
}
.hamburguesa::before,
.hamburguesa::after{   
    top: 20px; 
    width: 100px;
    height: 10px;
    background-color: #222;
    position: absolute;
    content: '';
}

.hamburguesa::before{   
    top: -20px;

}
.hamburguesa::after{    
    top: 20px;
}

.hamburguesa,
.hamburguesa::after,
.hamburguesa::before{   
    transition: all ease-out .8s;
}

.hamburguesa.animacion::before{ 
    top: 0;
    transform: rotate(-45deg);
}

.hamburguesa.animacion::after{  
    top:0;
    transform: rotate(45deg)
}
.hamburguesa.animacion{
    background-color: transparent;
}
*/


/*Iniciar sesion - registrar*/

.contenedorTodo{  
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative; 
    margin-top: 110px;
}

.cajaTrasera{   
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,1, 0.9)
}

.cajaTrasera div{   
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.Copyright p{  
    margin-left: 570px;
    font-size: 12px;
    color: #696969;
    display:block;
    opacity: 1;
}

.cajaTrasera div p,
.cajaTrasera div button{    
    margin-top: 30px;
    font-size: 20px;
    margin-left: 30px;
}

.cajaTrasera div h3{    
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    margin-left: 30px;
}
/*Animacion de botones y belleza*/
.cajaTrasera button{    
    padding: 10px 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 14px ;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 400ms;
}

.cajaTrasera button:hover{
    background: #fff;
    color: #000;
}

/*Formularios*/
.Contenedor-Login-Register{   
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.Contenedor-Login-Register form{  
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.Contenedor-Login-Register form h2{    
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #000100;
}

.Contenedor-Login-Register form input{ 
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px ;
    outline: none;
}
.Contenedor-Login-Register form button{    
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    outline: none;
    font-size: 14px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.formulario-Login{  
    opacity: 1;
    display: block;
}

.formulario-Register{   
    display: none;
}
/*Responsive*/
@media screen and (max-width: 850px){
    main {
         margin-top: 50px;
    }

    .cajaTrasera{   
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajaTrasera div{   
        margin: 0px;
        position: absolute;
    }
    /*Formulario*/
    .Contenedor-Login-Register{ 
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .Contenedor-Login-Register form{ 
        position: relative;
    }
}

.textGreen{
    color: #008000;
    transition: all 300ms;
}

.textGreen:hover{   
    color: #006400;
}

.textRed{   
    color: #ff0000;
    transition: all 300ms;
}

.textRed:hover{
    color: #8b0000;
}

.ayuda{   
    display: inline; 
    width: 130px;
    padding: 10px 10px;
    border: 2px solid #000;
    background-color: transparent;
    font-size: 14px ;
    font-weight: 400;
    cursor: pointer;
    color: #000;
    outline: none;
    transition: all 400ms;
}
.ayuda:hover{
    background: transparent;
    color: #000;
}

