<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <title>MediPets</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
  
    <link rel="icon" href="{% static 'MediPets/img/Icon.png' %}">   
    <link rel="stylesheet" type="text/css" href="{% static 'MediPets/css/styles.css ' %}">
    <link href="{% static 'MediPets/css/styles.css ' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'MediPets/css/Fonts.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">     
        </script>
    </head>
<body>
  <main>
    {%load static%}
    <a href="{% url 'index' %}">
      <img  src ="{% static 'MediPets/img/logo_large.png' %}" width="400px"  height= "85" ></a>
    <br><br>
    <div class="contenedorTodoMASC">
      <div class="cajaTraseraMASC">
          <div class="cajaTraseraLogin">
          <h3>Ingrese su Mascota.</h3>
          <p>Ingrese su mascota para obtener beneficios y productos realicionados con su mascota.</p>
          
      </div>
  </div>

      <div class="Contenedor-Login-RegisterMASC">
        <form method="POST" action="#" id="Formulario" class="Formulario-RegisterMASC">
          <h3>Registro mascota</h3>
          {%csrf_token%}
          <div class="form-group">
              {{mascota_form.nroChip.label}}
              {{mascota_form.nroChip}}
          </div>
          <div class="form-group">
              {{mascota_form.nombre.label}}
              {{mascota_form.nombre}}
          </div>
          
          <div class="form-group">
              {{mascota_form.dueno.label}}
              {{mascota_form.dueno}}
          </div>
          
          <div class="form-group">

              {{mascota_form.tipo.label}}
              {{mascota_form.tipo}}
              
          </div>
         

          <div class="form-group">
              <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
              <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
          </div>
            </form>
          </div>
      </div>
  </main>          
</body>
</html>