@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lu84mz');
  src:  url('fonts/icomoon.eot?lu84mz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lu84mz') format('truetype'),
    url('fonts/icomoon.woff?lu84mz') format('woff'),
    url('fonts/icomoon.svg?lu84mz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e904";
}
.icon-rocket:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e902";
}
