<!DOCTYPE html>
<html>
    <head>
        
        <title>MediPets</title>   
        <link rel="icon" href="img/Icon.png">   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link href="css/styles.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fonts.css">

    </head>
    <body>
    <main>
      <a href="index.html">
        <img  src ="img/logo_large.png" width="350px"  height= "85" ></a>
      <br>
      <header>
        <a href="index4.html" class="login">
          <span class="icon-user"></span>Iniciar Sesion
          </a>
        <h1>Nosotros</h1>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu" class="icon-menu">
        </label>
        <nav class="menu flex-container" id="backgroundhead">
          <center>
            <ul>
                <li><a href="index.html" class="button home radius large ">
                    <span class="icon-home"></span>Inicio</a></li>
                <li><a href="index2.html" class="button Fotos large radius ">
                    <span class="icon-images"></span>Galeria</a></li>
                <li><a href="index3.html" class="button QuienesSomos large radius ">
                    <span class="icon-users"></span>Nosotros</a></li>
            </ul>
          </center>
        </nav>
    </header>
      <br><br><br><br><br>
      <div class="container">
        <div class="izq">
        <h3>Objetivo</h3>
        <img src="img/Q1.png" width="500" height="400">
        <p >Nuestro sitio web esta pensado para brindar conocimientos y ayudar a familias que no saben los cuidados que deben matener sus mascotas. Además de ofrecer variedad de medicamentos y accesesorios con excelente calidad a menor precio que las demas veterinarias.</p>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="container">
          <div class="der">
          <h3>Misión</h3>
          <br>
          <img src="img/Q2.jpg" width="500" height="300">
          <p>Nuestra misión es asegurar la mejor calidad posible, junto con el profesionalismo de nuestros veterinarios; la mayor variedad disponible de productos farmacéuticos, aseo, alimenticios y accesorios a su elección. Siempre ofreciendole a nuestros clientes un servicio accesible comodo y amable.</p>
          </div>
        </div>
        <br>
        <br><br>
        <div class="container">
          <div class="der">
            <h3>Visión</h3>
            <br>
            <img src="img/vetes.jpg" width="400" height="320">
            <p>Ser líderes en servicios médicos veterinarios y de bienestar. Brindando calidad, innovación y profesionalismo, teniendo como objetivo final mejorar la calidad de vida de nuestras mascotas y por medio de ello también la de sus familias.</p>
          </div>
        </div>
        <br><br><br><br>
        <div class="container">
          <div class="izq">
            <h3 >Valores</h3>
            <br>
            <img src="img/q3.jpg" width="500" height="300">
            <p>Nuestros valores hacen de MediPets un lugar centrado en la tenencia responsable, por ello concebimos la medicina preventiva como mejor opción para evitar enfermedades, sufrimiento y gastos excesivos; la opinión y educación de nuestros clientes es necesaria para mejorar el cuidado de sus animales; y la capacidad de establecer una relación cercana, cordial, cálida y personalizada.</p>
          </div>
        </div>
        <br>
        <br><br>
        <div class="container"> 
          <h3>Colores institucionales</h3>
          <p>Nosotros como equipo de trabajo decidimos utilizar los siguientes colores en nuestra pagina web debido al significado que representan estos de manera psicologica: </p>
          <p>El color dorado representa la sabiduria, confianza y la fidelidad. <br>
             El color blanco representa la pureza, perfección y la confianza.<br>
             El color azul y negro representa prestigio, honradez y simpatia. </p>
        </div>
        <br><br>
        <div class="container">
            <div class="der">
              <h3>Muestra de nuestro trabajo</h3>
              <br>
              <a href="https://www.youtube.com/watch?v=Zd4smpQa31k&ab_channel=MaxTheHusky" target="_blank">
              <img src="img/videox.jpeg" width="500" height="300">
              </a>
              <p>Finalmente les invitamos a ver la experiencia de un de nuestros clientes:</p>
              <br><br><br><br><br><br><br><br><br>
            </div>
    </main>
    <br><br><br><br>
    <div class="row">
      <div class="col-xl-4 fondo" >
        <h5>Veterinaria </h5> 
        <ul type= ""><li>Nosotros</li>
          <li>Galeria</li>
        </ul>
      </div>
      <div class="col-xl-4 fondo">
        <h5>Hospital Clínico</h5> 
        <div class ="tamaño2 "><p>Dirección: <br>Av. Nueva San Martin 1331. Maipu</p>
        <p>Telefono: <br> (+56) 2 2232 5537 </p>
        <p>Email: <br>MediPets@Gmail.com</p>
        <p>Atención las 24hrs</p></div>
      </div>
      <div class="col-xl-4 fondo " >
        <h5>Sucursal</h5> 
        <div class ="tamaño2 "><p>Dirección: <br>Av. Americo Vespucio 1075 - Local 5</p>
        <p>Telefono: <br> (+56) 2 4672 2348 </p>
        <p>Email: <br>petsvete@gmail.cl</p>
        <p>Atención de 10 a 20hrs</p></div>
        <h5 class="copy">«Copyright 2020 por MediPets Chile»</h5>
        <figure>
          <img src="img/iconfb.png" width="13px" height="13px">
        </figure>
        <figure><img src="img/iconig.png" width="13px" height="13px"></figure>
        <figure><img src="img/icontwitter.png" width="13px" height="13px"></figure>
      </div>
    </div>
        
    </body>




</html>